<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frontend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    '<h1>Welcome to the Frontend Microservice</h1>'
    <button onclick="window.location.href='/trending'">TRENDING</button>
    <button onclick="window.location.href='/news'">NEWS</button>
    <button onclick="window.location.href='/categories'">CATEGORIES</button>
    <button onclick="window.location.href='/freeads'">FREEADS</button>
</body>
</html>